@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

div.password_input_wrapper {
  position: relative;

  input {
    padding-right: 2em;
  }
}

.eye_icon {
  @include clear-button-styles;

  position: absolute;
  top: 2.5em;
  right: $form-input-padding-x;
  transform: translateY(-50%);
  cursor: pointer;

  &:active {
    svg {
      color: grey;
    }
  }
}
