@import "src/assets/styles/mixins";

div.passwordInputWrapper {
  position: relative;

  input {
    padding-right: 2em;
  }
}

.eyeIcon {
  @include clearButtonStyles;
  position: absolute;
  top: 2.5em;
  right: 0.5em;
  cursor: pointer;
  transform: translateY(-50%);

  &:active {
    svg {
      color: grey;
    }
  }
}
