.modal_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1em rgb(0 0 0 / 50%);
  border-radius: 0.5em;
  background-color: #fff;
  padding: 1em;
  width: 20em;

  button[type="submit"] {
    cursor: pointer;
    margin-top: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: green;
    padding: 0.5em 1em;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
  }

}
