@import "src/assets/styles/mixins";
@import "src/common/pages/TransactionsPage/TransactionsPage.module.scss";

.date_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  //border-bottom: 2px solid green;
  //height: $daily-sub-header-height;

  .date_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;

    .date_input {
      box-sizing: content-box;
      border: none;
      border-bottom: 2px solid var(--secondary);
      background-color: var(--background);

      &:focus {
        animation: data-input-signalization 1s ease-in-out infinite;
        outline: none;
      }
    }

    .dateError {
      color: var(--error);
      font-weight: bold;
    }
  }

  .arrow_button {
    @include clear-button-styles;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    //height: 3em;
  }
}


@keyframes data-input-signalization {
  0% {
    border: 2px solid rgb(0 0 0 / 0%);
  }

  50% {
    border: 2px solid var(--warning);
  }

  100% {
    border: 2px solid rgb(0 0 0 / 0%);
  }
}
