$input-padding-x: 1em;
$text-color: #000;
$input-background: #fff;
$input-border-size: 1px;

@mixin input-val {
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: $input-border-size solid #d0d5dd;
  border-radius: 0.5em;
  background-color: $input-background;
  padding: 0.75em $input-padding-x;
  width: 100%;
  height: 3em;
  color: $text-color;
}

div.inputWrapper {
  position: relative;
  margin-top: 1em;

  label {
    display: block;
    position: absolute;
    top: 50%;
    left: $input-padding-x;
    transform: translateY(-50%);
    z-index: 0;
    transition: top 0.3s ease, font-size 0.3s ease, opacity 0.3s ease;
    border-radius: 0.5em;
    background-color: $input-background;
    color: $text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  input {
    @include input-val;

    &:focus {
      outline: none;
    }

    &:is(:focus, :not(:placeholder-shown)) + label {
      top: calc($input-border-size / 2);
      opacity: 1;
      padding: 0 0.4em;
      font-size: 0.8rem;
    }
  }

  span.required {
    color: red;
  }
}

.error {
  margin-top: 0.5em;
  color: red;
  font-size: 0.875em;
}
