<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body style="box-sizing: border-box">

<table style="
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2em;
">
    <tr>
        <td><h1 th:text="${header}">Password Reset</h1></td>
    </tr>

    <tr>
        <td><p th:text="${body}">
            Please click on the link below to reset your password.
            If you did not request a password reset, please ignore this email.
        </p></td>
    </tr>

    <tr>
        <td><a th:href="@{${resetUrl}}" th:text="${resetUrlText}" title="Link to reset your password">
            Confirmation URL
        </a></td>
    </tr>
</table>

</body>
</html>
