@import "src/common/components/form/Input/Input.module.scss";

.modal_block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22.5em;
  padding: 1em;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

  form {

    .double_field {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      & > * {
        width: 50%;
      }

      .currency_select {
        @include input_val;

        margin-top: 1em;

        fieldset {
          height: inherit;
          border: none;
          outline: none;
        }
      }
    }

    .submit_button {
      font-size: 1.4rem;
      width: 100%;
      margin-top: 1em;
      padding: 0.5em 1em;
      color: #fff;
      border: none;
      border-radius: 0.5em;
      background-color: green;
    }
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20em;
  max-width: 18em;
  padding: 0.4em 0.5em;
  gap: 1rem;

  .option_value {
    font-weight: bold;
  }

  .option_description {
    text-align: right;
    white-space: break-spaces;
    opacity: 0.6;
  }
}
