@import "src/common/components/form/Input/Input.module";

.modal_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1em rgb(0 0 0 / 50%);
  border-radius: 0.5em;
  background-color: #fff;
  padding: 1em;
  width: 22.5em;

  form {
    .double_field {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      & > * {
        width: 50%;
      }

      .currency_select {
        @include input-val;

        margin-top: 1em;

        fieldset {
          outline: none;
          border: none;
          height: inherit;
        }
      }
    }

    .submit_button {
      margin-top: 1em;
      border: none;
      border-radius: 0.5em;
      background-color: green;
      padding: 0.5em 1em;
      width: 100%;
      color: #fff;
      font-size: 1.4rem;
    }
  }
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.4em 0.5em;
  width: 20em;
  max-width: 18em;

  .option_value {
    font-weight: bold;
  }

  .option_description {
    opacity: 0.6;
    text-align: right;
    white-space: break-spaces;
  }
}
