@import "src/assets/styles/color-palette";
@import "src/assets/styles/variables";

.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + $footer-height);

  > main {
    flex: 1;
    background-color: var(--background);
    color: var(--text-primary);
  }
}
