.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  background-color: green;

  & ul {
    font-size: 1.4rem;
    display: flex;
    padding: 0;
    list-style: none;

    & > li {
      &::after {
        margin: 0 0.3rem;
        content: "|";
        text-align: center;
      }

      &:last-child::after {
        content: none;
      }

      & > a {
        text-decoration: none;
      }
    }
  }

  .logout-button {
    margin-top: 0.5rem;
  }
}
